name: Frontend SonarQube Scan

on:
  push:
    branches:
      - main
    paths:
      - "app/**"
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - "app/**"

jobs:
  sonarqube:
    name: SonarQube Frontend Scan
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./app

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN_APP }}
          SONAR_HOST_URL: "https://sonarcloud.io"
        with:
          projectBaseDir: app/
